@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Concordia University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Concordia University</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Vestibulum sed mauris quis leo sodales lobortis. 
            Mauris congue turpis augue, in tincidunt nulla ultricies ac. 
            Sed lobortis posuere ex, a varius nibh vestibulum accumsan.</p>
    </div>
    <div class="col-md-4">
        <h2>Varius nibh vestibulum accumsan</h2>
        <p>Pellentesque fringilla at elit at sollicitudin.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Nunc ac lorem accumsan, vestibulum dolor a, iaculis nulla. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>Curabitur quis ante eu elit luctus fermentum eu sit amet velit.
            Suspendisse eu gravida augue. Maecenas varius accumsan turpis, maximus commodo magna tempus vitae.
            Praesent et lacus eget erat porttitor efficitur at non lectus.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final">Maecenas auctor nisl ac ligula ultrices gravida. &raquo;</a></p>
    </div>
</div>